<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="QUEUE_NUMBER">
    <th mat-header-cell *matHeaderCellDef> หมายเลขคิว </th>
    <td mat-cell *matCellDef="let element"> {{element.QUEUE_NUMBER}} </td>
  </ng-container>

  <ng-container matColumnDef="SERVICE_CHANEL">
    <th mat-header-cell *matHeaderCellDef> ช่องบริการ </th>
    <td mat-cell *matCellDef="let element"> {{element.SERVICE_CHANEL}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->

<table class="h-100">
  <tbody>
    <tr [style.height.%]=priorityQueueItemHeight>
      <th> หมายเลข </th>
      <th> ช่องบริการ </th>
    </tr>
    <tr *ngFor="let item of dataSource" [style.height.%]=priorityQueueItemHeight>
      <td>{{item.QUEUE_NUMBER}}</td>
      <td>{{item.SERVICE_CHANEL}}</td>
    </tr>
  </tbody>
</table>
