<div class="container-left">
  <app-switcher (routerLink)="routerLinkClick($event)"></app-switcher>
</div>
<div class="container-right">
  <div *ngIf="activeMenuUrl == null">HomePage</div>
  <div *ngIf="isShowMenu(menuConfig.EntityConfigurations)">
    <app-entity-configurations-main></app-entity-configurations-main>
  </div>
  <div *ngIf="isShowMenu(menuConfig.BranchManagement)">
    <app-branch-management-main></app-branch-management-main>
  </div>
  <div *ngIf="isShowMenu(menuConfig.QueueDashboard)">
    <app-queue-dashboard-main></app-queue-dashboard-main>
  </div>
</div>
