<div class="container-home">
  <div class="container-left">
    <div class="content">
      <div class="menu-grid">
        <ng-container *ngFor="let menu of menus">
          <div class="menu-link" (click)="routerLinkClick(menu)">
            <div class="text-menu-name">
              <div class="content-menu-name">{{menu.MENU_DETAIL}}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="container-info">
      <div class="d-flex justify-content-between">
        <div class="text-fullname ml-1">{{fullname}}</div>
        <button mat-button color="primary" (click)="logout()">ออกจากระบบ</button>
      </div>
    </div>
  </div>
</div>