<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        Logo Queue Zen
      </div>
      <div class="col-sm">
        <b>Queue Date:</b> {{queueDate}}<b> Time:</b>{{now | date:'HH:mm:ss'}}

      </div>
      <div class="col-sm">
        Branch Name: Studio 7-The Mall-Bangkae
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <app-onservice-queue-list></app-onservice-queue-list>
      </div>
      <div class="col-sm">
        Advertising Banner
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        Online Booking Reservation
      </div>
    </div>
  </div>
</div>
