<div class="main-container">
  <div class="title-container">
    <div class="row">
      <div class="col-sm">
        Logo Queue Zen </div>
      <div class="col-sm">
        <b>Queue Date:</b> {{queueDate}}<b> Time:</b>{{now | date:'HH:mm:ss'}}

      </div>
      <div class="col-sm">
        Branch Name: {{branchName}}
      </div>
    </div>
  </div>
  <div class="onservcie-container">
    <div class="row h-100">
      <div class="col-sm">
        <app-onservice-queue-list></app-onservice-queue-list>
      </div>
      <div class="col-sm">
        Advertising Banner
      </div>
    </div>
  </div>
  <div class="priority-container">
    <div class="row">
      <div class="col-sm">
        <app-priority-queue-list></app-priority-queue-list>
      </div>
    </div>
  </div>
</div>
