:host {
  .main-container {
    text-align: center;
  }
  .font-size-queue-no {
    font-size: 14pt;
  }
  .font-size-queue-index {
    font-size: 11pt;
    margin-top: 5px;
  }
  .font-size-queue-time {
    font-size: 11pt;
  }
}
